/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.jobs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .jobs > li {
        display: inline-block;
    }


.ckbtn {
    margin-top: 4rem;
}

.searchbtn {
    margin-left: 1rem;
}

.required::after {
    content: "*";
    font-weight: bold;
    color: red;
}

.createbtn {
    padding-left: 3rem;
}

.countrystatemrgn {
    margin-top: 4rem
}

.tblwd {
    width: 10rem;
}

.tblwd1 {
    width: 15rem;
}

.tblwd2 {
    width: 7rem;
}

.btns {
    margin-top: 4rem;
}

.topmargin {
    margin-top: 10rem;
}

.tmargin {
    margin-top: 8rem;
}

.ht {
    height: 6rem;
    margin-bottom: 0px;
}

.height {
    margin-bottom: 20px;
}

.allmargin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#type {
    top: 2.5rem;
}

#mid {
    left: 3rem;
}

.pos {
    margin-top: 1rem;
}

.margn {
    margin-left: 0px;
    padding-left: 0px;
}

.abmar {
    margin-top: 1rem;
}

.rad {
    border-radius: 0.5rem;
}

.list {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.borders {
    border-style: groove;
    border-radius: 1rem;
}

.space {
    margin: 1rem;
}

.partial {
    position: fixed;
    height: -webkit-fill-available;
    background-color: black;
    color: white;
    z-index: 1;
    top: 0px;
    padding-top: 5rem;
}

.side {
    padding-left: 9rem;
}

.posit {
    position: relative;
    left: 18rem;
    width: 65rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.space {
    width: 10rem;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
