
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>Admin Options</h3>
<ul class="list">
    <li>
        <a class="space btn btn-outline-info text-white" asp-controller="AgencyInfo" asp-action="Index">Agency List</a>
    </li>
    <li>
        <a class="space btn btn-outline-info text-white" asp-controller="AgencyInfo" asp-action="Create">Register Agency</a>
    </li>
    <li>
        <a class="space btn btn-outline-info text-white" asp-controller="Country" asp-action="Index">Admin MasterData</a>
    </li>
</ul>

