@model Govt.Agency.DAL.Model.AgencyType

@{
    ViewData["Title"] = "Create";
}


<div class="row countrystatemrgn">
    <div class="col-md-4 offset-4 rad text-white bg-danger bg-dark">
        <h1 class="text-md-center">Add Agency Type</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label required"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="col height btn btn-info" />
            </div>
        </form>
        <a class="col height btn btn-info" asp-action="Index">Show Added Types</a>
    </div>
</div>



