
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>Admin Options</h3>
<ul>
    <li>
        <a class="space btn btn-outline-info text-white" asp-controller="Users" asp-action="Index">Users Modifications</a>
    </li>
    <li>
        <a class="space btn btn-outline-info text-white" asp-controller="Candidates" asp-action="Index">Candidate Modifications</a>
    </li>
    <li>
        <a class="space btn btn-outline-info text-white" asp-controller="Admins" asp-action="VotingResult">Admin Modifications</a>
    </li>
</ul>

