@model Govt.Agency.DAL.Model.City

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4 offset-4 rad text-white bg-danger bg-dark">
        <h1 class="text-md-center">Add City</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Country</label>
                <select class="col form-control" id="CountryList" asp-items="ViewBag.CountryId">
                    <option>Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <select id="State" asp-for="StateId" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="allmargin col btn btn-info" />
            </div>
        </form>
        <a class="height col btn btn-info" asp-action="Index">Show Added City</a>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
      $(document).ready(function () {
        $("#CountryList").change(function () {
            var countryId = $(this).val();
            $.getJSON("../State/LoadStates", { countryId: countryId },
                function (classesData) {
                    var select = $("#State");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select State"
                    }));
                    $.each(classesData, function (index, itemData) {
                        console.log(itemData);
                        select.append($('<option/>', {
                            value: itemData.value,
                            text: itemData.text
                        }));
                    });
                });
        });
    });
</script>